.box-model {
  border: 10px solid black;
  padding: 25px;
  width: 200px;
  height: 150px;
  /* to center a text inside div */
  text-align: center;
  line-height: 150px;

  /* default box-sizing is content-box */
  /* box-sizing: content-box; */

  /* box-sizing: border-box; */
}

/* content box */
/* the width of the element only applies to the content */
/* actual width of the element would be bigger due to padding and border */

/* border box */
/* the width of the element = content + padding * 2 + border * 2 */
/* more intuitive for programmers */




/* with a desktop first approach */
/* 1000 lines of style with desktop css view */
/* in the media query, you will be writing styles for the mobile view */

/* just an example: write mobile second, inside the media query */
@media screen and (max-width: 500){
    .some-element {
        visibility: none;
    }
}